.continar-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.sticky-top{
    border-bottom: 1px solid #cccccc;
    top: 30px ;
}

/* home page CSS starts */
.maincontainer {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.socialmediaicons {
    text-align: center;
}

.footerpage {
    font-family: poppins;
}

.contactpage {
    font-family: poppins;
}

.headerpage {
    font-family: poppins;
}

.Navbarpage {
    font-family: poppins;
}
.col_side_heading {
    color: #143250;
    font-weight: 600;
    line-height: 1.2;
    font-size: 54px !important;
}

.col_side_content {
    color: black;
    font-weight: 400;
    line-height: 1.2;
    font-size: 25px !important;
    margin-top: 25px !important;
}

.button {
    /* height:300px !important;
    width: 300px !important; */
}

.video_content {
    width: 100%;
    margin-top: 100px;
    height: 75%;
}

.col_heading_row {
    color: #143250;
    margin-top: 35px !important;
}

.col_content {
    color: #6a747c;
    font-size: 25px !important;
    margin-top: 35px !important;
}

.learnbutton {
    margin-top: 35px !important;
}



.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0047ab;
}

.consulting {
    margin-left: 30px;
    margin-top: 15px;
}

.startup {
    margin-left: 48px;
    margin-top: 15px;
}

.products {
    margin-left: 45px;
    margin-top: 15px;
}

.bulb {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
}

.thumb {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
}

.clock {
    margin-left: 37px;
    margin-top: 31px;
    height: 131px;
    width: 121px;
}


.people {
    margin-left: 37px;
    margin-top: 31px;
    height: 131px;
    width: 121px;
}

.message {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
}

.head {
    margin-top: 45px !important;
}

/* home page CSS ends */




/* about us CSS starts */
.aboutus {
    height: 250px;
    width: 250px;
}

.ourmission {
    height: 250px;
    width: 465px;
    margin-left: 154px;
}

.yellowdot1 {
    margin-top: -60px;
}

.aboutus_secondrow {
    font-size: 16px;
    color: #868686;
}

.row_content_aboutus {
    background-color: #f7f8f9;

}

.ourvision {
    height: 350px;
    width: 350px;
}

.banner {
    background-color: #0047ab;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;

}

.banner-content {
    margin-left: 154px;
    text-align: right;
    font-size: 25px;
}

.exclametry-mark {
    height: 105px;
    width: 130px;
    margin-left: -32px;
}

.email-about-us {
    margin-left: -264px;
}

.phone-about-us {
    margin-left: -264px;
}

.btn1 {
    margin-top: 11px !important;
    margin-left: -264px;
}

.font {
    font-family: "poppins";
}

/* about us CSS ends */


/* css for careers page */
.careerspage {
    background: #f5f6f8;
    font-family: poppins;
    padding-top: 50px;

}

.exp1,
.exp2,
.exp3 {
    color: #F4B41A;
    font-size: 11px;
}

.openingRow {
    padding: 0px 200px;
}

.ctitle,
.cbodyo,
.cbodyt {
    text-align: center;
}

.otitle {
    text-align: center;
    margin-bottom: 2%;
    font-family: poppins;
}

.imgRow {
    margin-bottom: 5%;
}

.ulitems li {
    background: url(/list-icon.png) no-repeat left center;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 20px;
}

.vTitle,
.dtitle {
    color: #342566;
    font-weight: 700;
}

.openingRowN {
    width: 64%;
    margin-top: 4%;
    padding: 0px 200px;
    /* margin-bottom: 4%; */
}

.dotCol,
.virusCol,
.devCol {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 15px
}

.openingRow.row {
    gap: 5%;
}

/* end of career page */
@media(max-width:767px) {

    /* navbar css start */
    .sticky-top{
        padding: 0px !important;
    }
    /* navbar css start */

    /* home page mobile css starts */

    .maincontainer {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col_side_heading {
        color: #143250;
        font-weight: 700;
        line-height: 1.2;
        font-size: 17px !important;
    }

    .head {
        margin-top: 45px !important;
    }

    .col_side_content{
        font-size: 10px !important;
        margin-top: 0px !important;

    }

    .row_content.row {
    padding: 10px 20px;
    /* margin-top: 0px !important; */
    
    }

    .head{
        text-align: center;
        margin-top: 15px !important;
    }

    .second-section{
        text-align: center;
    }

    .col_heading_row{
        text-align: center;
    }

    .col_heading_row_circle{
        display: grid !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .consulting{
        text-align: center !important;
        margin-left: 0px !important;
    }

    .startup{
        text-align: center !important;
        margin-left: 0px !important;
    }

    .products{
        text-align: center !important;
        margin-left: 0px !important;
    }



    /* home page mobile css ends */


    /* careers page mobile css  start*/
    .openingRow {
        padding: 0px 20px;
    }

    .openingRowN {
        width: 100%;
        padding: 0px 10px;
    }

    .openingRowN.row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .virusCol {
        margin-top: 5%;

    }

    .socialmediafooter {
        padding-right: 0px !important;
    }

    /* careers page mobile css end */

    /* headerpage css mobile view start*/
    .emailCol {
        margin-right: 22px;
        width: 50%;

    }

    /* headerpage css mobile view end*/
    /* footerpage css mobile view start*/
    .footerbg {
        padding: 0px 10px !important;
    }

    /* footerpage css mobile view end*/
    /* contactpage css mobile view start*/
    .row_content_form {
        margin: 0px !important;
        padding-left: 0px !important;
    }

    .dirCol {
        padding: 0px !important;
        margin-top: 20px;
    }
    .side_head{
        padding-right: 0px !important;
        font-size: 1.5rem !important;
    }
    .row_content {
        margin-top: 25px !important;
    }
    .maincontainer.contactpage.container-fluid {
        padding: 0px 20px !important;
    }
    .contactpage {
        margin-top: 50px;
    }
    
    /* contactpage css mobile view end*/


}


.crossimage {
    display: none;
}

a {
    text-decoration: none;
    color: #0000008c;
}

.btn-warning {
    font-size: 18px;
    font-weight: 500;
    margin-top: -5px;
    color: #0000008c;
}

.logo {
    color: white;
    height: 100px;
    width: 150px;
    font-size: 40px;
    font-weight: 700;
}

.navitems {
    font-size: 20px;
    font-weight: 500;
    color: #0000008c;
}

.navlist {
    padding: 10px;
}

#collasible-nav-dropdown {
    margin-top: -8px;
}

.maincontainer {
    background-color: white;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1310px;
}

/* .maincontainer{
    padding-left: 20px;
    padding-right: 20px;

} */
.talkbtn {
    margin-right: 30px;
}

.side_head {
    font-weight: 600 !important;
    font-size: 3.5rem ;
    color: #143250;
    padding-right: 100px;
}

.side_content {
    /* font-weight: 500 !important; */
    font-size: 1rem;
    color: #000000;
}

.row_content {
    margin-top: 50px ;
}

.row_content_form {
    padding-left: 20px;
}

.contcontet {
    background-color: #143250;

    padding: 3rem 3rem;
}

.contacth,
.contactn,
.contactd {
    color: #E67E22;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.contacti {
    color: white;
}

.contactimg1 {
    width: 100%;
    height: 100%;
}

Form {
    padding-right: 180px;
}

.headerbg {
    background-color: #0047ab;
    height: 40px;
}

.footerbg {
    background-color: #0047ab;
}

.qlinks,
.serlinks,
.contact {
    color: #E67E22;
}

.links,
.slinks {
    color: white;
}

.servicediv {
    width: 150px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}

.linkblock {
    margin-left: 100px;
}

.find {
    width: 90px;
    color: #E67E22;
    font-size: 15px;
    font-weight: 400;
}
.findhead{
    color: #E67E22;
}

.email,
.phone,
.cnum {
    color: white;
    font-size: 15px;
}

.footerlogo {
    margin-top: -80px;
    margin-left: 10px;
}

.socialmediafooter {
    padding-right: 50px;
}

.contactblock {
    margin-top: 20px;
}

@media (max-width:1024px) {
    .socialmedia {
        display: none;
    }

    .linkblock {
        display: none;
    }
}