.continar-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
.sticky-top {
    border-bottom: 1px solid #cccccc;
    /* top: 30px ; */
}

/* css for blog page start */
.blogRow {
    padding: 0px 20px;
}

/* css for blog page end */



/* home page CSS starts */
.maincontainer {
    /* padding-left: 40px !important;
    padding-right: 40px !important; */
}

.socialmediaicons {
    /* text-align: end; */
    width: fit-content;
    float: right;
    background: #726a6a;
    padding: 10px;
    border-radius: 8px;
}
.socialmediaicons li{
    display: inline-block;
    margin: 0px 20px;
    
}
.socialmediaicons li img{
    width: 25px;
}
.under_line{
    text-decoration: underline;
    color: #fff;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.under_line:hover{
    color: #fff;
}

.privacy_policy li{
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    font-size: 13px;
}


.footerpage {
    font-family: poppins;
}

.contactpage {
    font-family: poppins;
}

.headerpage {
    font-family: poppins;
}

.Navbarpage {
    font-family: poppins;
}

.col_side_heading {
    color: #143250;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 25px;
    font-size: 26px !important;
}
.being_cont{
    color: #42e742;
}
.being_cont span{
    color: #0047ab;
}
.col_side_content {
    color: black;
    font-weight: 400;
    line-height: 1.2;
    font-size: 20px !important;
    margin-top: 25px !important;
}

.video_content {
    width: 100%;
    margin-top: 100px;
    height: 75%;
}

.col_heading_row {
    color: #143250;
    margin-top: 35px !important;
}

.col_content {
    color: #6a747c;
    font-size: 25px !important;
    margin-top: 35px !important;
}

.learnbutton {
    margin-top: 35px !important;
}



.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0047ab;
}

.consulting {
    margin-left: 30px;
    margin-top: 15px;
}

.startup {
    margin-left: 48px;
    margin-top: 15px;
}

.products {
    margin-left: 45px;
    margin-top: 15px;
}

.bulb {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
    display: none;
}


.thumb {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
}

.clock {
    margin-left: 37px;
    margin-top: 31px;
    height: 131px;
    width: 121px;
}

.values_li li {
    font-size: 14px;
}

.people {
    margin-left: 37px;
    margin-top: 31px;
    height: 131px;
    width: 121px;
}

.message {
    margin-left: 48px;
    margin-top: 52px;
    height: 100px;
    width: 100px;
}

.head {
    margin-top: 45px !important;
}

/* home page CSS ends */




/* about us CSS starts */
.aboutus {
    height: 250px;
    width: 250px;
}

.ourmission {
    height: 250px;
    width: 465px;
    margin-left: 154px;
}

.yellowdot1 {
    margin-top: -60px;
}

.aboutus_secondrow {
    font-size: 16px;
    color: #868686;
}

.row_content_aboutus {
    background-color: #f7f8f9;

}

.ourvision {
    height: 350px;
    width: 350px;
}

.banner {
    background-color: #0047ab;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;

}

.banner-content {
    margin-left: 154px;
    text-align: right;
    font-size: 25px;
}

.exclametry-mark {
    height: 105px;
    width: 130px;
    margin-left: -32px;
}

.email-about-us {
    margin-left: -264px;
}

.phone-about-us {
    margin-left: -264px;
}

.btn1 {
    margin-top: 11px !important;
    margin-left: -264px;
}

.font {
    font-family: "poppins";
}

/* about us CSS ends */


/* css for careers page */
.careerspage {
    background: #f5f6f8;
    font-family: poppins;
    padding-top: 50px;

}

.exp1,
.exp2,
.exp3 {
    color: #F4B41A;
    font-size: 11px;
}

.openingRow {
    padding: 0px 200px;
}

.ctitle,
.cbodyo,
.cbodyt {
    text-align: center;
}

.otitle {
    text-align: center;
    margin-bottom: 2%;
    font-family: poppins;
}

.imgRow {
    margin-bottom: 5%;
}

.ulitems li {
    background: url(/list-icon.png) no-repeat left center;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 20px;
}

.vTitle,
.dtitle {
    color: #342566;
    font-weight: 700;
}

.openingRowN {
    width: 64%;
    margin-top: 4%;
    padding: 0px 200px;
    /* margin-bottom: 4%; */
}

.dotCol,
.virusCol,
.devCol {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 15px
}

.openingRow.row {
    gap: 5%;
}

.strategy_li {
    margin-top: 9%;
    margin-left: 100px
}

.startegy_page .ctitle {
    font-size: 28px;
    text-align: start;
}

.startegy_page .cbodyo {
    font-size: 18px;
    text-align: start;


}

.ul_img_cont img {
    width: 20%;
}

.ul_img_cont li {
    display: inline-block;
}

.startegy_page img {
    width: 100%;
}

.homepage img {
    width: 100%;
}

.startegy_page h6 {
    color: #42e742;
    font-size: 22px;
    font-weight: 700;
}

.startegy_page h2 {
    color: #214e8f;
    margin-top: 0px;
}

.img_row_team {
    background: #0047ab;
    margin-right: 15px;
}
.img_row_team h5{
    color: #42e742;
}

.img_row_team img {
    margin-left: 20px;
    height: 300px;
}

h5.our_team {
    font-size: 24px;
    color: #0047ab;
    font-weight: 700;
}

.core_team h5, .our_team h5 {
    color: #42e742;
    font-weight: 700;
}
.harmo_color{
    color: #42e742;
}

.mission_vision li span {
    color: #0047ab;
    font-weight: 700;
}
.col_bg_sc{
    background: url('/p4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    color: #0047ab;
    font-weight: 700;
}
.col_bg_tc{
    background: url('/p5.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    color: #0047ab;
    font-weight: 700;
}
.col_bg_dt{
    background: url('/p6.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    color: #0047ab;
    font-weight: 700;
}
.col_bg_sc div{
    position: relative;
    top: 50%;
    right: 0;
    text-align: start;
}
.col_bg_tc div{
    position: relative;
    top: 50%;
    right: 0;
    text-align: start;
}.col_bg_dt div{
    position: relative;
    top: 50%;
    right: 0;
    text-align: start;
}
.col_bg_1 {
    background: url('/p34.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_bg_2 {
    background: url('/p35.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_bg_3 {
    background: url('/p36.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_bg_4 {
    background: url('/p37.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_bg_5 {
    background: url('/p38.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_bg_6 {
    background: url('/p39.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col_vision h3 {
    color: #42e742;
    font-weight: 700;
}

.col_vision h4 {
    color: #0047ab;
    font-size: 18px;
}
.blue_color{
    color: #0047ab;
}
.form-label{
    margin-bottom: 0px;
    margin-top: 10px;
}
.asteristk{
    color: red;
}
.p_h_title {
    position: relative;
    margin-top: -45px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: 600;
    color: #42e742;
    font-size: 30px;
}

.dropdown {
    float: left;
    /* overflow: hidden; */
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #0000008c;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: rgb(211, 211, 211);
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_new {
    float: left;
    /* overflow: hidden; */
}

.dropdown_new .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #0000008c;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown_new:hover .dropbtn {
    background-color: rgb(211, 211, 211);
    color: #000;
}

.dropdown-content_new {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content_new a {
    float: none;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown-content_new a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.desktop_view{
    display: block;
}
.mobile_view{
    display: none;
}
.container-fluid{
padding:0px  20px 10px;
}
/* end of career page */
@media(max-width:767px) {
    .desktop_view{
        display: none;
    }
    .mobile_view{
        display: block;
    }
    .startegy_page h2{
        margin-top: 10px;
    }
    /* navbar css start */
    .sticky-top {
        padding: 0px !important;
    }

    /* navbar css start */

    /* home page mobile css starts */
    .p_h_title {
        font-size: 18px;
        margin-top: -25px;
        padding-bottom: 10px;
    }

    .maincontainer {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .col_side_heading {
        color: #143250;
        font-weight: 700;
        line-height: 1.2;
        font-size: 17px !important;
        margin-top: 0px;
    }

    .head {
        margin-top: 45px !important;
    }

    .col_side_content {
        font-size: 15px !important;
        margin-top: 0px !important;

    }


    .head {
        text-align: center;
        margin-top: 15px !important;
    }

    .second-section {
        text-align: center;
    }

    .col_heading_row {
        text-align: center;
    }

    .col_heading_row_circle {
        display: grid !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .consulting {
        text-align: center !important;
        margin-left: 0px !important;
    }

    .startup {
        text-align: center !important;
        margin-left: 0px !important;
    }

    .products {
        text-align: center !important;
        margin-left: 0px !important;
    }



    /* home page mobile css ends */


    /* careers page mobile css  start*/
    .openingRow {
        padding: 0px 20px;
    }

    .openingRowN {
        width: 100%;
        padding: 0px 10px;
    }

    .openingRowN.row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .virusCol {
        margin-top: 5%;

    }

    .socialmediafooter {
        padding-right: 0px !important;
    }

    /* careers page mobile css end */

    /* headerpage css mobile view start*/
    .emailCol {
        margin-right: 22px;
        width: 50%;

    }

    /* headerpage css mobile view end*/
    /* footerpage css mobile view start*/
    .footerbg {
        padding: 0px 10px !important;
    }

    /* footerpage css mobile view end*/
    /* contactpage css mobile view start*/
    .row_content_form {
        margin: 0px !important;
        padding-left: 0px !important;
    }

    .dirCol {
        padding: 0px !important;
        margin-top: 20px;
    }

    .side_head {
        padding-right: 0px !important;
        font-size: 1.5rem !important;
    }

    .row_content {
        margin-top: 10px !important;
    }

    .maincontainer.contactpage.container-fluid {
        padding: 0px 20px !important;
    }

    .contactpage {
        margin-top: 10px;
    }

    /* contactpage css mobile view end*/


}


.crossimage {
    display: none;
}

a {
    text-decoration: none;
    color: #0000008c;
}

.btn-warning,.btn-warning:hover {
    font-size: 16px;
    font-weight: 500;
    margin-top: -7px;
    color: #fff;
    background: #1c4f9e;
    border: #1c4f9e;
    
}
.padding_main{
    padding: 0px 30px;
}
.btn_nav_list{
    padding: 10px 0px 0px !important;
}

.logo {
    color: white;
    /* height: 100px;
    width: 150px; */
    font-size: 40px;
    font-weight: 700;
}
.firm_member{
    color: #000;
    font-size: 12px;
    font-weight: 600;
}
.navitems {
    font-size: 16px;
    font-weight: 500;
    color: #0000008c;
}

.navlist {
    padding: 10px;
}

#collasible-nav-dropdown {
    margin-top: 0px;
}
#collasible-nav-dropdown-new {
    margin-top: 100px;
}

.maincontainer {
    background-color: white;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1310px;
}

/* .maincontainer{
    padding-left: 20px;
    padding-right: 20px;

} */
.talkbtn {
    margin-right: 30px;
}

.side_head {
    font-weight: 600 !important;
    font-size: 3.5rem;
    color: #143250;
    padding-right: 100px;
}

.side_content {
    /* font-weight: 500 !important; */
    font-size: 1rem;
    color: #000000;
}

.row_content {
    margin-top: 0px;
}

.row_content_form {
    padding-left: 20px;
}

.contcontet {
    background-color: #143250;

    padding: 3rem 3rem;
}

.contacth,
.contactn,
.contactd {
    color: #E67E22;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.contacti {
    color: white;
}

.contactimg1 {
    width: 100%;
    height: 100%;
}

Form {
    /* padding-right: 180px; */
}

.headerbg {
    background-color: #0047ab;
    height: 40px;
}

.footerbg {
    background-color: #0047ab;
    padding: 10px 20px;
}

.qlinks,
.serlinks,
.contact {
    color: #E67E22;
}

.links,
.slinks {
    
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.links_ul li{
    font-size: 13px;
    color: #fff;
}
.links_ul li a{
    color: #fff;
}
.line_above{
    border-top: 1px solid #000;
    padding-top: 15px;
}
.email_phone{
    color: #fff;
    font-size: 12px;
}
.servicediv {
    width: 150px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}

.linkblock {
    margin-left: 100px;
}

.find {
    width: 90px;
    color: #E67E22;
    font-size: 15px;
    font-weight: 400;
}

.findhead {
    color: #E67E22;
}

.email,
.phone,
.cnum {
    color: white;
    font-size: 15px;
}

.footerlogo {
    margin-top: -80px;
    margin-left: 10px;
}

.socialmediafooter {
    padding-right: 50px;
}

.contactblock {
    margin-top: 20px;
}

@media (max-width:1024px) {
    .socialmedia {
        display: none;
    }

    .linkblock {
        display: none;
    }
}